// out: null
/* Typography =================================================== */
/*uses: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
/* Define your base font-size html; most elements will inherit this. */
/* Assuming 16px... */
/* 24px (This is now our magic number; all subsequent margin-bottoms and line-heights want to be a multiple of this number in order to maintain vertical rhythm.) */

/* These handle massive type, for less frequently occuring bits of text (e.g. in mastheads and banners). */
.giga {
    .giga();

}
.mega {
    .mega();

}
.kilo {
    .kilo();

}

/* Define headings and their associated classes here. */
h1 {
    .alpha--margin();

}
h2 {
    .beta--margin();

}
h3 {
    .gamma--margin();

}
h4 {
    .delta--margin();

}
h5 {
    .epsilon--margin();
  
}
h6 {
    .zeta--margin();
    
}

/* Smaller-than-body-copy sizes here. */
small {
    .milli();
}

p, 
ol, 
ul, 
dl, 
address { 
font-size: @basefontsize;
line-height: @baseline;
}

// paragraphs 
p {
  margin-top: @baselineunit; 
}

// lists 

ul, 
ol{ 
    margin-top: 0;
    padding : 0 0 0 @baselineunit;
      list-style-position: inside;
}

ul {
    list-style-type: square;   
}
    
ol {
    list-style-type: decimal; 
}

ul li, 
ol li { 
    margin-top: (@baseline/2 * 1em);
    list-style: none;
}

li li {
   margin-top: (@baseline/4 * 1em); 
}

li * {
    margin-top: 0;
}

// definition lists
dt { 
margin-top: 0.75em;
padding-bottom: 0.6875em;
border-bottom: 1px dashed @grey--light-3;
font-weight : bold;

}
dt + dd {
    margin-top: (@baseline/2 * 1em);
}

// blockquote and figure text

// see Elements


// text-level

abbr[title] { 
border-bottom : 1px dotted @grey--light-3; 
cursor : help; }

b, strong { 
font-weight : 700; }

i {
font-style: italic;
}

dfn { 
font-style : italic; }

ins { 
background-color : lighten(@basecolor, 75%); 
color : @textcolor; 
text-decoration : none; }

mark { 
background-color : lighten(@basecolor, 75%); 
color : @textcolor; 
font-style : italic; 
font-weight : bold; }

pre, 
code, 
kbd, 
samp {
padding: 0 0.25em;
font-family : @font-stack__codefont;
font-size: @basefontsize;
line-height : @baselineunit; }

pre { 
white-space : pre; 
white-space : pre-wrap; 
word-wrap : break-word; 
overflow: auto;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

time {
    font-weight: 700;
    color: @basecolor;
}

/* =========================================================
    Basic Typography classes 
   =========================================================  */


// Use a measure to contstrain max length 
//.the-measure 
//.s-the-measure (Scope area for the text style from the wysiwyg text area as youdon't have access to classes)


.the-measure {
    .themeasurelg();
    //IE6 hack to make it all readable
    *width: 40em;
    p{
        font-size: 1em;
        color: #444;
    }
    h3{
        font-size: 1.75em;
        font-weight: 700;
    }
}

.d-section--modification-2 .the-measure {
    .themeasurexlg();
    margin: auto;
    p{
        font-size: 1.25em;
        .min-width(75.025em{
            column-count: 2;
            column-gap: 2em;
        });
        br{
            line-height: 2em;
        }
    }
}
//empty things in the main
.the-measure :empty {
    //display: none;
}

.d-section--text-2 {
    .hgroup__title{
        .visually-hidden();
    }
    p:first-child{
        margin-top: 0;
    }
}

.main__header{
    .visually-hidden();
}


.layout--service{
    .main__wrapper{
        padding: 0 .5em;
        .min-width(40em{
             max-width: 75%;
        });
    }
    .main__page-title{
        .min-width(60em{
            max-width: 22.8575em;
            margin-left: 1em;
        });
    }
    .the-measure {
        max-width: 100%;
    }
    .d-section--style-form{
        .min-width-max(64.5625em{
            margin-top: 2em; 
        }70em);
        .min-width-max(60em{
            margin-top: 3em;
        }64.56em);
        .min-width-max(.1em{
            margin-top: 5em;
        }59.99em);
    }
    .image--service {
        width: 150px;
        float: right;
        margin-top: -3.25em;
    }
    .image--service + .wrapper{
        .min-width-max(.1em{
            margin-top: 3em;
        }64.56em);
    }
    .d-section--prefix .the-measure{
        color: @basecolor;
        .min-width(60em{
            max-width: 90%;
            margin-left: 1.75em;
        });
        .min-width(80em;{
            max-width: 44em;
        });
        p{
            margin-top: 1em;
            &:first-child{
                margin-top: 0;
            }
        }
    }
}

.min-width(64.5em{
    .layout--service .image--service{
        margin-top: -3.75em;
    }
});

//Type in the measure you don't have access to 
//.s-the-measure p

// in stitu ----------------------------------

//.grid .the-measure



.enquiry-results{
    position: relative;
    .enquiry-results__wrapper{
        background: @white;
        margin: 0;
    }
    ol{
        padding-left: 0;
        list-style: none;
        li{
            br{
                display: block;
            }
            margin-top: 0;
            clear: both;
            background: @formbg;
            padding: 1em;
            margin-bottom: 1em;
            cursor: pointer;
            &:last-child{
                margin-bottom: 0;
            }
            .min-width-max(.1em{
                padding: 1em .75em;
            }39.99em);
            .hgroup__wrapper{
                .min-width(60em{
                    float: left;
                    margin-right: 2%;
                    word-break: break-word;
                    &:first-child{
                        width: 37%;
                    }
                    &:nth-child(2){
                        width: 18%;
                    }
                    &:last-child{
                        margin-right: 0;
                        width:41%;
                        h4{
                            max-width: 38%;
                            //padding-right: 7.5em;
                            text-align: left;
                            position: relative;
                        }
                    }
                });
                .business__logo {
                    max-width: 3.125em;
                    margin-bottom: .5em;
                    .min-width(60em{
                        float: left;
                        margin-right: .5em;
                        margin-bottom: 0;
                    });
                    img{
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
                h2{
                    margin-top: 0;
                    font-size: 1.2em;
                    font-weight: bold;
                    /*padding-left: 3.625em;
                    background: url(../img/result_list_item_icon.jpg) no-repeat left center;*/
                }
                h3,h4{
                    //color: @body--grey;
                    color: @zedblack;
                    margin-top: .125em;
                    font-size: .875em;
                    font-weight: bold;
                    .enquiry-result__estimate--numeric{
                        color: @basecolor;
                        font-size: 1.625em;
                        display: block;
                        .min-width(60em{
                        });
                    }
                    .min-width-max(.1em{
                       // padding-left: 5em; 
                    }59.99em);
                }
                h4{
                    .min-width-max(.1em{
                        margin-top: .5em;
                    }59.99em);
                }
                .enquiry__result__fulldetails{
                    background: @basecolor;
                    color: @white;
                    font-weight: bold;
                }
            }
            .business__details, .details__contact, .business__feedback, .enquiry-result__breakdown{
                display: none;
            }
            .business__details{
                clear: both;
                padding: 1em 0 0;
                margin: 0;
                .min-width(60em{
                    width: 50%;
                    float: left;
                });
                li {
                    padding: 0;
                    cursor: default;
                    h4 {
                        font-weight: bold;
                        color: @zedblack;
                        font-size: 1em;
                        .min-width(60em{
                            float: left;
                            width: 40%;
                            margin-right: 2%;
                        });
                    }
                    p{
                        margin-top: .8em;
                        line-height: 1.3em;
                        color: @zedblack;
                        .min-width(60em{
                            float: left;
                            width: 58%;
                        });
                    }
                    .details__title{
                        clear: both;
                    }
                }
            }
            .details__contact{
                .min-width(60em{
                    width: 46%;
                    float: left;
                    margin: .565em 0 0 4%;
                    line-height: 1.3em;
                    color: @zedblack;
                });
                h4{
                    font-weight: bold;
                    color: @zedblack;
                    font-size: 1em;
                    .min-width(60em{
                        float: left;
                        width: 38%;
                        margin-right: 2%;
                        margin-top: 0;
                    }); 
                }
                .adr{
                    margin-top: 1.1em;
                }
                .full-address{
                    .min-width(60em{
                        float: left;
                        max-width: 58%;
                    });
                    .street-address, .additional-address{
                        display: block;
                    }
                }
                .adr__dt{
                    clear: both;
                    padding-top: 1em;
                    h4{
                        margin-top: 0;
                    }
                    span{
                        .min-width(60em{
                            float: left;
                            max-width: 58%;
                        });
                    }
                    .email{
                        word-wrap: break-word;
                        color: @zedblack;
                    }
                }
            }
            .feedback{
                max-height: 30em;
                overflow-y: auto;
                clear: both;
                padding-top: 1.5em;
                h3{
                    font-weight: bold;
                    color: @zedblack;
                }
                blockquote{
                    /*&:before{
                        content: "\201C";
                        display: table;
                        clear: both;
                    }*/
                    //margin-left: 1em;
                    margin-bottom: 1em;
                    font-size: 1em;
                    color: @zedblack;
                    line-height: 1.3em;
                    font-family: inherit;
                    font-style: normal;
                    .star-rating-block{
                        margin-right: 1%;
                        .min-width(60em{
                            float: left;
                            min-width: 9.25em;
                        });
                        .star-rating{
                            background: url(../img/star-rating.png) no-repeat;
                            float: left;
                            width: 1.25em;
                            background-size: 1em;
                        }
                        .star-rating-enabled{
                            background: url(../img/star-rating-enabled.png) no-repeat;
                            background-size: 1em;
                        }
                    }
                    .comment-body{
                        margin-top: 1em;
                        .min-width(60em{
                            //float: left;
                            margin-left: 21.4%;
                            margin-top: 0;
                            max-width: 25em;
                        });
                        p{
                            margin-top: .5em;
                            letter-spacing: 0;
                            &:first-child{
                                margin-top: 0;
                            }
                            strong{
                                text-transform: none;
                                font-weight: normal;
                                font-family: inherit;
                            }
                        }
                        ol, ul{
                            li{
                                letter-spacing: 0px;
                                font-size: 1em;
                                color: @zedblack;
                            }
                        }
                    }
                    p{
                        /*margin-top: 1em;
                        .min-width(60em{
                            float: left;
                            margin-top: 0;
                            max-width: 25em;
                        });*/
                    }
                    &:after{
                        clear: both;
                        content: " ";
                        display: table;
                    }
                }
            }
            .clearfix();
        }
    }
}

.enquiry-results .enquiry-result__breakdown{
    max-width: 30em;    
}

.enquiry-results .enquiry-result__breakdown .table--stripe{
    background: #dbdbdb;
}

.enquiry-results .enquiry-result__breakdown table caption{
    font-weight: bold;
    padding-left: 0;
    text-align: left;
}

.enquiry-results--follow-on{
    margin-top: 5em;
}
